* { 
 margin: 0; 
 padding: 0; 
 box-sizing: border-box;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

body {
	background-color: #D5F9FF;
	min-width: 1000px;
	width: auto !important;
	width: 1000px;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
	z-index: 1001;
}
.popup button{
    display: block;
    margin: -12px -35px 21px 320px;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
		background: #BFE7B5;
		border-radius: 100%;
		width: 35px;
		height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
	margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}

/*Makes for more appealing scrolling when clicking on navbar links*/
html {
	scroll-behavior: smooth;
}

#navbar {
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#navbar.scrolled {
    backdrop-filter: blur(30px);
}

#ul-navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: fit-content;
    margin: 0px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    background-color: transparent;
    float: left;
}

.li-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-navbar a:hover {
    color: #ccc;
}
	
#Name-title {
    background-color: transparent;
    float: left;
	font-size: 175%;
	margin-right: 200px;
	font-weight: bold;
}

#Name-title a {
    display: block;
	color: #BFE7B5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#Backgroundimg {
	width: 100%;
	height: 100%;
}

#About-heading {
	font-size: 30px;
	margin-bottom: 10px;
}

.About-Me-Container {
	padding-top: 75px;
	padding-bottom: 100px;
}

#ProfHeadshot {
	position: absolute;
	display: block;
	margin-left: 42%;
	margin-right: auto;
	margin-top: 10%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid #FFFFFF;
}

/*Make the name for the images centered*/
#Top-name {
	position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	color: white;
	font-size: 65px;
	font-weight: bold;
	margin-top: 80px;
	min-width: 1000px;
	width: auto !important;
	width: 1000px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Top-description {
	position: absolute;
    top: 0;
    left: 0;
    width:100%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-top: 135px;
	min-width: 1000px;
	width: auto !important;
	width: 1000px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


{
	box-sizing: border-box;
}

.info-container {
    display: grid;
    grid-template-columns: 28% 42%;
    gap: 20px;
	justify-content: center;
}

.Image-section {
    background-color: #D5F9FF;
	align-items: center;
	justify-content: center;
}

.Text-section {
	background-color: #D5F9FF;
	line-height: 1.75;
}

#SupCourtImg {
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 8px solid #FFFFFF;
	margin: auto;
	margin-bottom: 15px;
}

.All-Skills {
	background-color: #196B98;
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
}

.Skills-container {
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: 450px 525px;
	grid-row-gap: 20px;
	grid-column-gap: 45px;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
}


#Skills-heading {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 75px;
	color: white;
	font-size: 65px;
	font-weight: bold;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
	text-align: center;
}

div.gallery.hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.Description {
	padding: 15px;
}


.Projects-container {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 725px 550px;
	grid-row-gap: 20px;
	grid-column-gap:20px;
	justify-content: center;
}

.Project-title {
	margin-bottom: 10px;
}

.circle {
	height: 100px;
	width: 100px;
	background-color: #BDF6FF;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

#Papers-heading{
	text-align: center;
	background-color: #196B98;
	color: #FFFFFF;
	padding-bottom: 50px;
}

.Papers-header{
	padding-top: 50px;
	padding-bottom: 75px;
	font-size: 40px;
	font-weight: bold;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
	
.All-Projects {
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 75px;
}

#Projects-heading {
	padding-top: 50px;
	padding-bottom: 75px;
	font-size: 65px;
	font-weight: bold;
}

.skill-info {
	margin-top: 5px;
}

ul.Com-Coll {
	list-style-type: circle;
}

ul.Uni {
	list-style-type: circle;
}

.s3 {
	margin-bottom: 12px;
}

.Description {
	margin-left: 50px;
	margin-right: 50px;
}

.Contact-section {
	padding-top: 50px;
	padding-bottom: 65px;
	text-align: center;
	line-height: 1.5;
}

#icons-container {
	text-align: center;
}

#LinkedIn {
	margin-left: 10px;
	margin-right: 10px;
}

#GitHub {
	margin-left: 10px;
	margin-right: 10px;
}

.Paper-title:visited {
	color: #BFE7B5;
}

.Paper-title:link  {
	color: #BFE7B5;
}

.Paper-1 {
	margin-bottom: 10px;
}

.Paper-2 {
	margin-bottom: 10px;
}

.Paper-3 {
	margin-bottom: 10px;
}


	